<style>
    .svg-schemes svg{
        max-width: 100%;
        display: block;
        margin: 0 auto;
        height: auto !important;
    }
    .svg-schemes svg *{
        filter: none !important;
    }
    .svg-schemes p{
        text-align: center;
    }
</style>
<div class="svg-schemes">
    #{svg}
    <p><a href="#{link}" target="_blank">Open in a new tab.</a></p>
</div>